.house-type {
  background-color: #9D62DD;
  position: relative;


  &__title {
    @include margPad0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 48px;
    font-weight: bold;
    padding-top: 90px;
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
  }

  &__subtitle {
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    padding-bottom: 140px;
  }
  &__block {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: -120px;
  }
}

.type-block {
  &__menu {
    @include margPad0;
    display: flex;
  }

  &__item {
    @include liststyle;
    &:not(:last-child) {
      margin-right: 100px;
    }
  }

  &__link {
    display: block;
    color: #6C6577;
    text-align: center;
  }

  &__image {
    min-width: 150px;
    display: block;
    margin-bottom: 30px;
    border-radius: 50%;
    border: 7px solid transparent;
    &:hover {
      border: 7px solid #F26689;
    }
  }
}

/* lg-размер (<=1199px) */
@media (max-width: 1199px) {
  /* CSS для ширины от 992px до 1199px */
}

/* md-размер (<=991px) */
@media (max-width: 991px) {
  /* CSS для ширины от 768px до 991px */
}

/* sm-размер (<=768px) */
@media (max-width: 767px) {
  /* CSS для ширины от 576px до 767px */
  .house-type__title {
    font-size: 36px;
  }
  .type-block__image {
  min-width: 120px;
  }

}

/* xs-размер (<=575px) */
@media (max-width: 575px) {
  /* CSS для ширины до 575px (включительно) */
  .type-block__item:not(:last-child) {
    margin-right: 20px;
  }
  .house-type__title {
    padding-top: 50px;
  }
  .house-type__subtitle {
    padding-bottom: 100px;
  }
}