.lamin-wind {
padding-bottom: 100px;
  &__title {
    @include margPad0;
    color: #5B5B5B;
    font-size: 42px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
  }

  &__descr {
    @include margPad0;
    text-align: center;
    color: #5B5B5B;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 45px;
  }

  &__list {
    @include liststyle;
    @include margPad0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }

  &__item {
    text-align: center;
    margin-right: 95px;
    width: 200px;
  }

  &__img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-bottom: 15px;

  }

  &__info {
    @include margPad0;
    margin-bottom: 40px;
    color: #5B5B5B;
  }

  &__link {
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color: #9862D3;
    color: #fff;
    font-size: 14px;
    width: 467px;
    padding: 12px 25px;
    border-radius: 3px;
  }
}
