.our-works {

  &__title {
    @include margPad0;
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    color: #5B5B5B;
    font-weight: bold;
    margin-bottom: 90px;
  }

  &__gallery {
    @include liststyle;
    @include margPad0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    margin-bottom: -5px;
    margin-right: -3px;
    // height: 506px;
  }

  &__img {
    max-width: 413px;

  }
}

.our-works {

  & span {
    display: block;
    margin-bottom: 20px;
    color: #5B5B5B;
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
  }

  &__info {
    padding-top: 50px;
    text-align: center;
  }

  &__insta {
    width: 40px;
    height: 40px;
  }
}