@charset "UTF-8";
:root {
  --font-family: "Open Sans", sans-serif;
  --content-width: 1240px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.header {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-image: url(/img/Vector.jpg);
  background-size: cover;
  font-family: "Roboto Condensed", sans-serif;
}
.header-info {
  width: 255px;
  color: #fff;
  background-color: rgb(142, 98, 217);
  position: absolute;
  top: 120px;
  right: 0px;
}
.header-info__title {
  background-color: rgb(195, 90, 198);
  text-transform: uppercase;
  padding: 20px;
}
.header-info__phones {
  padding: 0;
  margin: 0;
  padding: 20px;
}
.header-info__phones a {
  color: #fff;
}

.info-phones__item {
  list-style: none;
  font-size: 16px;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 7px;
}
.info-phones__item strong {
  font-size: 22px;
  font-weight: 300;
}
.info-phones__item span {
  font-size: 14px;
}

.top-menu {
  padding-top: 50px;
  position: relative;
}

.menu {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.menu__item {
  list-style: none;
  position: relative;
  width: 328px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.menu__item_purple {
  background-color: rgb(142, 98, 217);
}
.menu__item_orange {
  background-color: rgb(218, 124, 58);
}
.menu__item_blue {
  background-color: rgb(112, 155, 193);
}
.menu__item_green {
  background-color: rgb(170, 203, 76);
}
.menu__item_rose {
  background-color: rgb(195, 90, 198);
}
.menu__item_yellow {
  background-color: rgb(237, 180, 87);
}
.menu__item_white {
  background-color: rgb(255, 255, 255);
}
.menu__item:last-child {
  margin-top: -60px;
  width: 255px;
  height: 120px;
}
.menu__link {
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}

.header-info__wordDay span {
  display: block;
  padding-left: 20px;
  font-weight: 300;
  font-size: 15px;
}

.header-info__wordDay span:last-child {
  margin-top: 5px;
}

.header-info__goMap {
  display: block;
  margin: 0 auto;
  color: #fff;
  width: 215px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  text-align: center;
  border: 1px solid #fff;
}

@media (max-width: 1270px) {
  .menu__item {
    max-width: 320px;
  }
  .menu__item:last-child, .header-info {
    max-width: 240px;
  }
  .header-info {
    max-width: 240px;
  }
}
@media (max-width: 1230px) {
  .menu__item {
    max-width: 300px;
  }
  .menu__item:last-child {
    max-width: 240px;
  }
}
@media (max-width: 1170px) {
  .menu__item {
    max-width: 290px;
  }
  .menu__item:last-child {
    max-width: 220px;
  }
  .header-info {
    max-width: 220px;
  }
}
@media (max-width: 1120px) {
  .menu__item {
    max-width: 280px;
  }
}
@media (max-width: 1090px) {
  .menu {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .menu__item {
    max-width: 320px;
  }
  .menu__item:last-child {
    display: none;
  }
  .header-info {
    display: none;
  }
}
/* md-размер (<=991px) */
@media (max-width: 991px) {
  .menu__item {
    max-width: 300px;
  }
}
@media (max-width: 930px) {
  .menu__item {
    max-width: 270px;
  }
}
@media (max-width: 840px) {
  .menu {
    display: none;
  }
}
/* sm-размер (<=768px) */
@media (max-width: 767px) {
  /* CSS для ширины от 576px до 767px */
}
/* xs-размер (<=575px) */
@media (max-width: 575px) {
  /* CSS для ширины до 575px (включительно) */
}
.house-type {
  background-color: #9D62DD;
  position: relative;
}
.house-type__title {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 48px;
  font-weight: bold;
  padding-top: 90px;
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
}
.house-type__subtitle {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  padding-bottom: 140px;
}
.house-type__block {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  bottom: -120px;
}

.type-block__menu {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.type-block__item {
  list-style: none;
}
.type-block__item:not(:last-child) {
  margin-right: 100px;
}
.type-block__link {
  display: block;
  color: #6C6577;
  text-align: center;
}
.type-block__image {
  display: block;
  margin-bottom: 30px;
  border-radius: 50%;
  border: 7px solid transparent;
}
.type-block__image:hover {
  border: 7px solid #F26689;
}

.wind-frame {
  margin-top: 200px;
  margin-bottom: 80px;
}
.wind-frame__img {
  display: block;
  margin: 0 auto;
}

.wind-type__title {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  color: #6C6577;
  font-size: 48px;
  text-align: center;
  margin-bottom: 40px;
}

.type-top__wrp {
  height: 470px;
  background-image: url(../img/frame12.png);
  background-position: center;
  border-radius: 5px;
  color: #fff;
}
.type-top__title {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  font-size: 36px;
  padding-top: 50px;
  margin-left: 95px;
  margin-bottom: 25px;
}
.type-top__price {
  margin: 0;
  margin-left: 95px;
  font-size: 24px;
  margin-bottom: 10px;
}
.type-top__price span {
  font-family: "Roboto Condensed", sans-serif;
  color: #DF59CA;
  font-size: 48px;
  padding: 0 8px;
}
.type-top__decr {
  margin: 0;
  margin-left: 95px;
  max-width: 400px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 60px;
}
.type-top__link {
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  margin-left: 95px;
  color: #fff;
  padding: 15px 30px;
  background-color: #F26689;
  border-radius: 3px;
}

.type-bottom__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.type-bottom__item {
  list-style: none;
  margin-top: 30px;
  width: 605px;
  height: 430px;
  border-radius: 5px;
  color: #fff;
  background-position: center;
}
.type-bottom__item_img1 {
  background-image: url(../img/frame12.jpg);
  margin-right: 30px;
}
.type-bottom__item_img2 {
  background-image: url(../img/frame13.jpg);
  background-position-x: -31px;
  background-position-y: -106px;
}
.type-bottom__item_img3 {
  background-image: url(../img/frame14.jpg);
  margin-right: 30px;
  background-position-x: -121px;
  background-position-y: -123px;
}
.type-bottom__item_img4 {
  background-image: url(../img/frame15.jpg);
  background-position-x: -178px;
  background-position-y: -33px;
}
.type-bottom__title {
  margin: 0;
  padding: 0;
  margin-left: 95px;
  padding-top: 80px;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
.type-bottom__price {
  margin: 0;
  padding: 0;
  margin-left: 95px;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 10px;
}
.type-bottom__price span {
  font-size: 48px;
  margin-left: 9px;
  margin-right: 9px;
  font-weight: bold;
  color: #DF59CA;
}
.type-bottom__descr {
  margin: 0;
  padding: 0;
  margin-left: 95px;
  width: 310px;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 50px;
}
.type-bottom__link {
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  margin-left: 95px;
  color: #fff;
  padding: 15px 30px;
  background-color: #F26689;
  border-radius: 3px;
}

.wind-price__wrp {
  position: relative;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 55px;
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.37);
  box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.37);
  border-radius: 5px;
  padding-bottom: 40px;
}
.wind-price__info {
  margin-left: 35px;
  width: 300px;
}
.wind-price__title {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 20px;
  color: #5B5B5B;
  font-weight: bold;
  font-size: 26px;
}
.wind-price__descr {
  margin: 0;
  padding: 0;
  color: #5B5B5B;
  padding-bottom: 30px;
  font-weight: 300;
  font-size: 14px;
}
.wind-price__link {
  color: #fff;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #F26689;
  padding: 10px 20px;
}
.wind-price__img {
  position: absolute;
  height: 300px;
  top: -50px;
  right: 0px;
}
.wind-price__alert {
  text-align: center;
  color: #5B5B5B;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 50px;
}
.wind-price__alert span {
  display: block;
  color: #9D62DD;
}

.nonStandart-wind {
  background-color: #9D62DD;
  padding-bottom: 80px;
  color: #fff;
}
.nonStandart-wind__title {
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  padding-top: 100px;
  font-size: 48px;
  font-weight: bold;
}
.nonStandart-wind__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 40px;
}
.nonStandart-wind__item {
  list-style: none;
  height: 200px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-right: 250px;
}
.nonStandart-wind__item:nth-child(3) {
  margin-right: 0px;
}
.nonStandart-wind__item:last-child {
  margin-right: 0px;
}
.nonStandart-wind__img {
  min-width: 130px;
  margin-bottom: 40px;
}

.rehau {
  padding-top: 100px;
  padding-bottom: 100px;
}
.rehau__title {
  margin: 0;
  padding: 0;
  color: #5B5B5B;
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}
.rehau__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.rehau__img {
  min-width: 330px;
  height: 470px;
  margin-right: 100px;
}
.rehau__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.rehau__item {
  margin-right: 50px;
}
.rehau__item:last-child {
  margin-right: 0px;
}
.rehau__icon {
  height: 72px;
  width: 72px;
  margin-bottom: 15px;
}
.rehau__descr {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #5B5B5B;
  width: 200px;
}
.rehau__info {
  text-align: center;
  font-size: 16px;
  color: #5B5B5B;
  font-weight: bold;
}
.rehau__link {
  font-family: "Roboto Condensed", sans-serif;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  background-color: #F26689;
  color: #fff;
  text-transform: uppercase;
  width: 220px;
  padding: 10px 5px;
  border-radius: 3px;
  font-size: 14px;
}

.lamin-wind {
  padding-bottom: 100px;
}
.lamin-wind__title {
  margin: 0;
  padding: 0;
  color: #5B5B5B;
  font-size: 42px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}
.lamin-wind__descr {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #5B5B5B;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 45px;
}
.lamin-wind__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.lamin-wind__item {
  text-align: center;
  margin-right: 95px;
  width: 200px;
}
.lamin-wind__img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-bottom: 15px;
}
.lamin-wind__info {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  color: #5B5B5B;
}
.lamin-wind__link {
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: #9862D3;
  color: #fff;
  font-size: 14px;
  width: 467px;
  padding: 12px 25px;
  border-radius: 3px;
}

.glass-pack__title {
  margin: 0;
  padding: 0;
  color: #5B5B5B;
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}
.glass-pack__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 100px;
}
.glass-pack__item {
  text-align: center;
  cursor: pointer;
  color: #9862D3;
  font-size: 15px;
  font-weight: 400;
  background-color: #F6F1FC;
  border: 1px solid #9D62DD;
  padding: 10px 30px;
  border-radius: 20px;
  max-width: 220px;
  margin-right: 10px;
}
.glass-pack__item:last-child {
  margin-right: 0px;
}
.glass-pack__item_active {
  background-color: #9D62DD;
  color: #fff;
}
.glass-pack__content {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pack-content__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.pack-content__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 80px;
  max-width: 420px;
}
.pack-content__title {
  margin: 0;
  padding: 0;
  color: #9D62DD;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 40px;
}
.pack-content__text {
  margin-bottom: 20px;
  position: relative;
}
.pack-content__text::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -25px;
  width: 10px;
  height: 10px;
  background-color: #9D62DD;
  border-radius: 50%;
}
.pack-content__img {
  width: 380px;
  height: 450px;
}
.pack-content__link {
  display: block;
  margin-top: 50px;
  text-align: center;
  color: #fff;
  background-color: #F26689;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px 35px;
  width: 185px;
  border-radius: 4px;
}

.wind-fitings {
  padding-bottom: 100px;
}
.wind-fitings__title {
  margin: 0;
  padding: 0;
  color: #5B5B5B;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 10px;
}
.wind-fitings__descr {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #5B5B5B;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
}
.wind-fitings__wrp {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.wind-fitings__wrp::before {
  position: absolute;
  content: url(/img/logo_roto1.png);
  bottom: 15px;
  left: 27%;
  width: 80px;
  height: 30px;
}
.wind-fitings__img {
  display: block;
  margin-right: 100px;
  width: 450px;
  height: 300px;
}
.wind-fitings__list {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 400px;
}
.wind-fitings__item {
  position: relative;
  font-size: 18px;
  color: #5B5B5B;
  font-weight: 400;
  margin-bottom: 20px;
}
.wind-fitings__item::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -25px;
  width: 10px;
  height: 10px;
  background-color: #9D62DD;
  border-radius: 50%;
}
.wind-fitings__link {
  display: block;
  margin-top: 30px;
  text-align: center;
  color: #fff;
  background-color: #F26689;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px 35px;
  width: 185px;
  border-radius: 4px;
}

.our-works__title {
  margin: 0;
  padding: 0;
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
  color: #5B5B5B;
  font-weight: bold;
  margin-bottom: 90px;
}
.our-works__gallery {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.our-works__item {
  margin-bottom: -5px;
  margin-right: -3px;
}
.our-works__img {
  max-width: 413px;
}

.our-works span {
  display: block;
  margin-bottom: 20px;
  color: #5B5B5B;
  font-size: 18px;
  font-weight: 400;
  text-decoration: underline;
}
.our-works__info {
  padding-top: 50px;
  text-align: center;
}
.our-works__insta {
  width: 40px;
  height: 40px;
}

.wind-map__title {
  text-align: center;
  text-transform: uppercase;
  color: #5B5B5B;
  font-weight: bold;
  font-size: 48px;
}
.page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: var(--vh);
}
/*# sourceMappingURL=main.css.map */