:root {
  --font-family: "Open Sans", sans-serif;
  --content-width: 1240px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.header {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-image: url(/img/Vector.jpg);
  background-size: cover;
  font-family: "Roboto Condensed", sans-serif;
}
.header-info {
  width: 255px;
  color: #fff;
  background-color: rgb(142, 98, 217);
  position: absolute;
  top: 170px;
  right: 0px;
}
.header-info__title {
  background-color: rgb(195, 90, 198);
  text-transform: uppercase;
  padding: 20px;
}
.header-info__phones {
  padding: 0;
  margin: 0;
  padding: 20px;
}
.header-info__phones a {
  color: #fff;
}

.info-phones__item {
  list-style: none;
  font-size: 16px;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 7px;
}
.info-phones__item strong {
  font-size: 22px;
  font-weight: 300;
}
.info-phones__item span {
  font-size: 14px;
}

.top-menu {
  padding-top: 50px;
  position: relative;
}

.menu {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.menu__item {
  list-style: none;
  width: 328px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.menu__item_purple {
  background-color: rgb(142, 98, 217);
}
.menu__item_orange {
  background-color: rgb(218, 124, 58);
}
.menu__item_blue {
  background-color: rgb(112, 155, 193);
}
.menu__item_green {
  background-color: rgb(170, 203, 76);
}
.menu__item_rose {
  background-color: rgb(195, 90, 198);
}
.menu__item_yellow {
  background-color: rgb(237, 180, 87);
}
.menu__item_white {
  background-color: rgb(255, 255, 255);
}
.menu__item:last-child {
  margin-top: -60px;
  width: 255px;
  height: 120px;
}
.menu__link {
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}

.header-info__wordDay span {
  display: block;
  padding-left: 20px;
  font-weight: 300;
  font-size: 15px;
}

.header-info__wordDay span:last-child {
  margin-top: 5px;
}

.header-info__goMap {
  display: block;
  margin: 0 auto;
  color: #fff;
  width: 215px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  text-align: center;
  border: 1px solid #fff;
}

.page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: var(--vh);
}
/*# sourceMappingURL=main.css.map */