<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="footer-top__logo">
        <img src="/img/logo.png" alt="" class="footer-top__img">
        <h4 class="footer-top__title">форточка</h4>
        <span class="footer-top__descr">салон отличных цен в Полтаве</span>
      </div>
      <div class="footer-top__info">
        <div class="footer-top__wrp top-wrp">
          <div class="top-wrp__left">
            <h2 class="top-wrp__tittle">Салон "форточка"</h2>
            <ul class="top-wrp__list">
              <li class="top-wrp__item">О нас</li>
              <li class="top-wrp__item">Контактная информация</li>
              <li class="top-wrp__item">Купить в рассрочку</li>
              <li class="top-wrp__item">Гарантия</li>
              <li class="top-wrp__item">Сертификаты</li>
              <li class="top-wrp__item">Оплата и доставка</li>
              <li class="top-wrp__item">Статьи</li>
              <li class="top-wrp__item">Отзывы</li>
            </ul>
          </div>
          <div class="top-wrp__right">
            <h2 class="top-wrp__tittle">Каталог салона</h2>
            <ul class="top-wrp__list">
              <li class="top-wrp__item">Шелковая штукатурка</li>
              <li class="top-wrp__item">Гипсовые панели</li>
              <li class="top-wrp__item">Мебель под заказ</li>
              <li class="top-wrp__item">Натяжные потолки</li>
              <li class="top-wrp__item">Входные двери</li>
              <li class="top-wrp__item">Межкомнатные двери</li>
              <li class="top-wrp__item">Балконы и лоджии</li>
              <li class="top-wrp__item">Пластиковые окна ПВХ</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-top__contacts">
        <div class="top-contacts">
          <div class="top-contacts__title">гарячая линия</div>
          <ul class="top-contacts__phones contacts-phones">
            <li class="contacts-phones__item"><a href="#">8 029 <strong>2-150-150</strong></a><span>MTC</span></li>
            <li class="contacts-phones__item"><a href="#">8 029 <strong>2-150-150</strong></a><span>MTC</span></li>
            <li class="contacts-phones__item"><a href="#">8 029 <strong>2-150-150</strong></a><span>MTC</span></li>
            <li class="contacts-phones__item"><a href="#">8 029 <strong>2-150-150</strong></a><span>MTC</span></li>
          </ul>
          <div class="top-contacts__wordDay">
            <span>Пн-пт: 10:00-18:00</span>
            <span>Сб,вс: выходной</span>
          </div>
          <a href="#" class="top-contacts__goMap">пр-т <span>ФРУНЗЕ, 8</span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="footer-bottom__wrp">
        <ul class="footer-bottom__info">  
          <li>2015-2022 ИП Мингинович УПН 398537494</li>
          <li>@2017 создание сайта ИП Иванов И.С</li>
          <li>Система управления сайтов Wordpress</li>
        </ul>
        <div class="footer-bottom__descr">Данный сайт не является интернет магазином. Информация предоставленная на сайте носит онакомительный характер и не является публичной офертой. При расхождении информации представленной сотрудником салонна, с информацией представленной на сайте, верной следует считать информацию, предоставленной сотрудником.</div>
      </div>
    </div>
  </div>
</footer>
