<section class="glass-pack">
  <div class="container">
    <h2 class="glass-pack__title">наши стеклопакеты</h2>
    <ul class="glass-pack__menu">
      <li class="glass-pack__item">Двухкамерные</li>
      <li class="glass-pack__item">Однокамерные</li>
      <li class="glass-pack__item">Энергосберегающие</li>
      <li class="glass-pack__item">Тонированные</li>
      <li class="glass-pack__item">Мультифункциональные</li>
    </ul>
    <ul class="glass-pack__content pack-content">
      <li class="pack-content__item">
        <div class="pack-content__wrp">
          <ul class="pack-content__list">
            <h4 class="pack-content__title">Двухкамерные стеклопакеты</h4>
            <li class="pack-content__item">Толщина двойного стеклопакета составляет от 32 до 40 мм</li>
            <li class="pack-content__item">Наиболее раиболее распространенный вариант остекления окон</li>
            <li class="pack-content__item">Две камеры (3 стекла) обеспечивают соответствие окна всем 
              нормам, предусмотренным для жилых помещений</li>
            <li class="pack-content__item">Высокий уровень шумо и теплоизоляции за умеренную стоимость</li>
          </ul>
          <img src="/img/WHS72 1.png" alt="" class="pack-content__img">
        </div>
        <a href="#" class="pack-content__link">подробнее</a>
      </li>
    </ul>
  </div>
</section>