<header class="header">
  <div class="container">
    <div class="header__menu top-menu">
      <ul class="menu">
        <li class="menu__item">
          <a href="#" class="menu__link">пластиковые окна пвх</a>
        </li> 
        <li class="menu__item">
          <a href="#" class="menu__link">балконы и лоджии</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">межкомнатные двери</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">входные двери</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">натяжные потолки</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">мебель под заказ</a>
        </li>
      </ul>
    </div>
  </div>
</header>
