<header class="header">
  <div class="container">
    <div class="header__menu top-menu">
      <ul class="menu">
        <li class="menu__item menu__item_purple">
          <a href="#" class="menu__link ">пластиковые окна пвх</a>
        </li> 
        <li class="menu__item menu__item_orange">
          <a href="#" class="menu__link">балконы и лоджии</a>
        </li>
        <li class="menu__item menu__item_blue">
          <a href="#" class="menu__link">межкомнатные двери</a>
        </li>
        <li class="menu__item menu__item_green">
          <a href="#" class="menu__link">входные двери</a>
        </li>
        <li class="menu__item menu__item_rose">
          <a href="#" class="menu__link">натяжные потолки</a>
        </li>
        <li class="menu__item menu__item_yellow">
          <a href="#" class="menu__link">мебель под заказ</a>
        </li>
        <li class="menu__item menu__item_white">
          <div class="header-logo">
              <img loading="lazy" src="img/logo.png" class="image" alt="site logo">
          </div>
          <div class="header-info">
            <div class="header-info__title">гарячая линия</div>
            <ul class="header-info__phones info-phones">
              <li class="info-phones__item"><a href="#">8 029 <strong>2-150-150</strong></a><span>MTC</span></li>
              <li class="info-phones__item"><a href="#">8 029 <strong>2-150-150</strong></a><span>MTC</span></li>
              <li class="info-phones__item"><a href="#">8 029 <strong>2-150-150</strong></a><span>MTC</span></li>
              <li class="info-phones__item"><a href="#">8 029 <strong>2-150-150</strong></a><span>MTC</span></li>
            </ul>
            <div class="header-info__wordDay">
              <span>Пн-пт: 10:00-18:00</span>
              <span>Сб,вс: выходной</span>
            </div>
            <a href="#" class="header-info__goMap">пр-т <span>ФРУНЗЕ, 8</span></a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</header>
