<section id="houseType" class="house-type">
  <div class="container">
    <h2 class="house-type__title">Окна и двери ПВХ для всех типов коттеджей</h2>
    <h4 class="house-type__subtitle">Изготавляием пластиковые окна всех форм и размеров с профилями от Rehau и фурнитурой от Roto-nx</h4>
    <div class="house-type__block type-block">
      <ul class="type-block__menu">
        <li class="type-block__item">
          <a href="#" class="type-block__link">
            <img src="" alt="" class="type-block__image">Деревянные дома</a>
        </li>
        <li class="type-block__item">
          <a href="#" class="type-block__link">
            <img src="" alt="" class="type-block__image">Кирпичные дома</a>
        </li>
        <li class="type-block__item">
          <a href="#" class="type-block__link">
            <img src="" alt="" class="type-block__image">Блочные дома</a>
        </li>
      </ul>
    </div>
  </div>
</section>