<section class="lamin-wind">
  <div class="container">
    <h2 class="lamin-wind__title">ЛАМИНАЦИЯ окон</h2>
    <p class="lamin-wind__descr">Одна из последних разработок в области покрытий – пленка для ламинации WOODEC. Новая пленка полностью отличается от своих предшественников обескураживающей точностью передачи оптических и тактильных свойств натурального дерева.</p>
    <ul class="lamin-wind__list">
      <li class="lamin-wind__item">
        <img src="/img/wc1.png" alt="" class="lamin-wind__img">
        <p class="lamin-wind__info">Кремовый 1379 Cream White</p>
      </li>
      <li class="lamin-wind__item">
        <img src="/img/wc2.png" alt="" class="lamin-wind__img">
        <p class="lamin-wind__info">Антрацитово-серый 083 Anthracite Grey</p>
      </li>
      <li class="lamin-wind__item">
        <img src="/img/wc3.png" alt="" class="lamin-wind__img">
        <p class="lamin-wind__info">Коричневый каштан Braun Maron</p>
      </li>
      <li class="lamin-wind__item">
        <img src="/img/wc4.png" alt="" class="lamin-wind__img">
        <p class="lamin-wind__info">Серый 167
          Grey</p>
      </li>
      <li class="lamin-wind__item">
        <img src="/img/wc5.png" alt="" class="lamin-wind__img">
        <p class="lamin-wind__info">Натуральный дуб FL-G Natural Oak</p>
      </li>
      <li class="lamin-wind__item">
        <img src="/img/wc6.png" alt="" class="lamin-wind__img">
        <p class="lamin-wind__info">Агатовый серый Agate Grey</p>
      </li>
      <li class="lamin-wind__item">
        <img src="/img/wc7.png" alt="" class="lamin-wind__img">
        <p class="lamin-wind__info"> Шогун АС Shogun</p>
      </li>
      <li class="lamin-wind__item">
        <img src="/img/wc8.png" alt="" class="lamin-wind__img">
        <p class="lamin-wind__info">Орех V Walnut</p>
      </li>
    </ul>
    <a href="#" class="lamin-wind__link">Это далеко не все варианты ламинации, уточняйте наличие у наших менеджеров.</a>
  </div>
</section>