<section class="nonStandart-wind">
  <div class="container">
    <h2 class="nonStandart-wind__title">ИЗГОТавливаем нестандартные типы окон</h2>
    <div class="nonStandart-wind__wrp">
      <ul class="nonStandart-wind__list">
        <li class="nonStandart-wind__item">
          <img src="/img/Frame 3.png" alt="" class="nonStandart-wind__img">
          Арочные
        </li>
        <li class="nonStandart-wind__item">
          <img src="/img/Group 14.png" alt="" class="nonStandart-wind__img">
          Треугольные
        </li>
        <li class="nonStandart-wind__item">
          <img src="/img/Frame 5.png" alt="" class="nonStandart-wind__img">
          Круглые
        </li>
        <li class="nonStandart-wind__item">
          <img src="/img/Group 17.png" alt="" class="nonStandart-wind__img">
          Трапецивидные
        </li>
        <li class="nonStandart-wind__item">
          <img src="/img/Group 16.png" alt="" class="nonStandart-wind__img">
          Полукруглые
        </li>
      </ul>
    </div>
  </div>
</section>