<section class="our-works">
  <div class="container">
    <h2 class="our-works__title"></h2>
    <ul class="our-works__gallery">
      <li class="our-works__item">
        <img src="/img/1.jpg" alt="" class="our-works__img">
      </li>
      <li class="our-works__item">
        <img src="/img/2.jpg" alt="" class="our-works__img">
      </li>
      <li class="our-works__item">
        <img src="/img/3.jpg" alt="" class="our-works__img">
      </li>
      <li class="our-works__item">
        <img src="/img/4.jpg" alt="" class="our-works__img">
      </li>
      <li class="our-works__item">
        <img src="/img/5.jpg" alt="" class="our-works__img">
      </li>
      <li class="our-works__item">
        <img src="/img/6.jpg" alt="" class="our-works__img">
      </li>
      <li class="our-works__item">
        <img src="/img/7.jpg" alt="" class="our-works__img">
      </li>
      <li class="our-works__item">
        <img src="/img/8.jpg" alt="" class="our-works__img">
      </li>
      <li class="our-works__item">
        <img src="/img/9.jpg" alt="" class="our-works__img">
      </li>
    </ul>
  </div>
</section>