<section class="rehau">
  <div class="container">
    <h2 class="rehau__title">Оконные профили REHAU</h2>
    <div class="rehau__wrp">
      <div class="rehau__img"><img src="" alt=""></div>
      <ul class="rehau__list">
        <li class="rehau__item">
          <img src="" alt="" class="rehau__icon">
          <p class="rehau__descr">На выбор 6 серий профиля REHAU: от бюджетного варианта до 
            стандартного и премиум сегмента.
            </p>
        </li>
        <li class="rehau__item">
          <img src="" alt="" class="rehau__icon">
          <p class="rehau__descr">Гарантия на продукцию производителя - до 60 лет</p>
        </li>
        <li class="rehau__item">
          <img src="" alt="" class="rehau__icon">
          <p class="rehau__descr">От 3 до 6 воздушных камер;</p>
        </li>
        <li class="rehau__item">
          <img src="" alt="" class="rehau__icon">
          <p class="rehau__descr">Глубина профиля от 60 до 86 мм;</p>
        </li>
        <li class="rehau__item">
          <img src="" alt="" class="rehau__icon">
          <p class="rehau__descr">Высокая теплозащита: до 0, 9 м2°С/Вт</p>
        </li>
      </ul>
    </div>
    <div class="rehau__info">Мы сертифицированный партнер Rehau:<a href="#" class="rehau__link">посмотреть сертификат</a></div>
  </div>
</section>