<section id="windType" class="wind-type">
  <div class="container">
    <div class="wind-type__top type-top">
      <h2 class="wind-type__title">ВИДЫ ОКОН И ДВЕРЕЙ ПВХ</h2>
      <div class="type-top__wrp">
        <h2 class="type-top__title">ПЛАСТИКОВЫЕ ОКНА</h2>
        <p class="type-top__price">от<span>197</span>BYN</p>
        <p class="type-top__decr">Предлагаем окна ПВХ разных форм и размеров, со стеклопакетами: двухкамерными, однокамерными, энергосберегающими и другими. Используем оконные профили от Rehau, и фурнитуру от Roto-nx. Также выполняем ламинирование в широком диапазоне цветов и текстур. </p>
        <a href="#" class="type-top__link">заказать</a>
      </div>
    </div>
    <div class="wind-type__bottom type-bottom">
      <ul class="type-bottom__list">
        <li class="type-bottom__item">
          <h2 class="type-bottom__title">ВХОДНЫЕ ГРУППЫ</h2>
          <p class="type-bottom__price">от<span>352</span>BYN</p>
          <p class="type-bottom__descr">Выполним двери ПВХ для любого назначения: входные, межкомнатные, балконные. Разные формы и размеры, высокая звукоизоляция, декоративное разнообразие.  </p>
          <a href="#" class="type-bottom__link">заказать</a>
        </li>
        <li class="type-bottom__item">
          <h2 class="type-bottom__title">Раздвижные окна и двери</h2>
          <p class="type-bottom__price">от<span>3168</span>BYN</p>
          <p class="type-bottom__descr">Раздвижные конструкции отлично экономят пространство за счет открывания створок в рамках рельсового механизма. Изготовим под ваши размеры.  </p>
          <a href="#" class="type-bottom__link">заказать</a>
        </li>
        <li class="type-bottom__item">
          <h2 class="type-bottom__title">ПАНОРАМНОЕ ОСТЕКЛЕНИЕ</h2>
          <p class="type-bottom__price">от<span>622</span>BYN</p>
          <p class="type-bottom__descr">Выполним панорамное остекление фасадов от пола до потолка. Используем ПВХ профиль от Rehau. Доступны тонированные и зеркальные стекла.  </p>
          <a href="#" class="type-bottom__link">заказать</a>
        </li>
        <li class="type-bottom__item">
          <h2 class="type-bottom__title">АЛЮМИНИЕВОЕ ОСТЕКЛЕНИЕ</h2>
          <p class="type-bottom__price">от<span>441</span>BYN</p>
          <p class="type-bottom__descr">Алюминиевые конструкции отличаются хорошей износостойкостью, эстетичностью,
            легкостью системы, и невысокой стоимостью.  </p>
          <a href="#" class="type-bottom__link">заказать</a>
        </li>
      </ul>
    </div>
  </div>
</section>