<section class="wind-map">
  <div class="container">
    <h2 class="wind-map__title">наш салон “форточка” в полтаве</h2>
    <div class="wind-map__g-map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d11220.139207806964!2d34.55318153360315!3d49.591899028182766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1suk!2sua!4v1660502745158!5m2!1suk!2sua" width="1240" height="480" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</section>