<section id="windPrice" class="wind-price">
  <div class="container">
    <div class="wind-price__wrp">
      <div class="wind-price__info">
        <h2 class="wind-price__title">Получить расчет стоимости</h2>
        <p class="wind-price__descr">Оставьте заявку, и мы подготовим 
          расчет окон по вашему дому 
          в течении 30 минут</p>
        <a href="" class="wind-price__link">Рассчитайте мой заказ</a>
      </div>
      <img src="/img/window 1.png" alt="" class="wind-price__img">
    </div>
    <div class="wind-price__alert">
      <span>Внимание!</span>
      При заказе от 10 окон - скидка 20%
    </div>
  </div>
</section>