<section class="wind-fitings">
  <div class="container">
    <h2 class="wind-fitings__title">фурнитура roto-nx</h2>
    <p class="wind-fitings__descr">Самая продаваемая оконная фурнитура в мире!</p>
    <div class="wind-fitings__wrp">
      <img src="/img/csm_NX_PVC_Lager_Baender_50ea62b760 1.png" alt="" class="wind-fitings__img">
      <ul class="wind-fitings__list">
        <li class="wind-fitings__item">Флагманская поворотно откидная фурнитура от Roto-nx</li>
        <li class="wind-fitings__item">Интегрируется в систему «умный дом»</li>
        <li class="wind-fitings__item">Изящный внешний вид и широкий выбор цветовых решений</li>
        <li class="wind-fitings__item">Выдерживает нагрузки оконных ставок весом до 150 кг</li>
        <li class="wind-fitings__item">Высокая коррозийная стойкость за счет усовершенствованной поверхности «Roto Sil Level 6»</li>
        <a href="#" class="wind-fitings__link">подробнее</a>
      </ul>
    </div>
  </div>
</section>